.idea
*.zip
back-end/lambda/node_modules/
back-end/lambda/package-lock.json
terraform/.terraform
terraform/.terraform.lock.hcl
back-end/lambda/dist
terraform.tfstate*
.DS_Store
back-end/lambda/combined.log
back-end/lambda/error.log
back-end/lambda/init-db.sh